<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/styles.css"/>

    <title>Starter Pokemon Evolutions</title>
  </head>

  <body>

    <nav class="red accent-4 z-depth-3">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">POKEDEX</a>
      </div>
    </nav>

    <table class="centered bordered highlight z-depth-3">
      <thead class="red lighten-1">
        <tr>
          <th>Sprite</th>
          <th>Name</th>
          <th>Pokedex Number</th>
        </tr>
      </thead>

      <tbody class="grey lighten-5">
        <% data.forEach((pokemon) => { %>
          <tr>
            <td>
              <a href="/pokemon/<%= pokemon.id %>">
                <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %>" />
              </a>
            </td>
            <td><%= pokemon.name %></td>
            <td><%= pokemon.id %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
  </body>
</html>
